<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogSesin</servlet-name>
        <servlet-class>Servlet.LogSesin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Nproducto</servlet-name>
        <servlet-class>Servlet.Nproducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Nclienteind</servlet-name>
        <servlet-class>Servlet.Nclienteind</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Nclienteemp</servlet-name>
        <servlet-class>Servlet.Nclienteemp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eproducto</servlet-name>
        <servlet-class>Servlet.Eproducto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogSesin</servlet-name>
        <url-pattern>/Logins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Nproducto</servlet-name>
        <url-pattern>/Nproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Nclienteind</servlet-name>
        <url-pattern>/Nclienteind</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Nclienteemp</servlet-name>
        <url-pattern>/Nclienteemp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eproducto</servlet-name>
        <url-pattern>/Eproducto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
